{% extends 'doc_app/_temp.html' %}

{% block title %}
    all students
{% endblock %}

{% block content %}
    <div class="container">
        {% if list %}
            <table class="table">
                <thead class="table-info">
                    <tr>
                        <th> course name </th>
                        <th> academy  </th>
                        <th> status </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.name }} </td>
                            <td> {{ item.academy.name }}</td>
                            <td> {{ item.get_status_display }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p> There is no record to display.</p>
        {% endif %}
    </div>
{% endblock %}

